@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #EB0A1E;
  --color-primary-content: #ffffff;
}

/* * {
  outline: 1px solid rgba(255, 0, 0, 0.3) !important;
} */